{% import "_includes/forms" as forms %}

<div class="meta">

    <div class="field" style="padding-top: 20px;padding-bottom: 20px;">
        <h2>A/B Test</h2>
        <div class="instructions">
            <p>Choose an experiment and then switch on the drafts you want it to include.</p>
        </div>

        {{ forms.selectField({
            options: experimentOptions
        }) }}
    </div>
    {% for draft in drafts %}
        {{ forms.lightswitchField({
            label: draft.draftName,
            on: false,
        }) }}
    {% endfor %}
</div>

